<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <title>用户数据魔方主页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
</head>
<body>
 <div class="tsgl">
   <div class="head-div">
			<div class="fl">
			<div class=" fl logo">
				<div class="logo_ico fl"></div>
			    <p class="head-bt fl">用户数据魔方</p>
			</div>
			<ul class="fl top_select">
				<!--class=select_dh为选中的当前的样式类-->
						<li class="top_select_li select_dh">
							<a href="/index/" style="color:white">
                            <span class="fl top_select_word">单个用户分析</span>
                            </a>
						</li>

						<li class="top_select_li">
                            <a href="/jlyhfx/" style="color:white">
							<span class="fl top_select_word">聚类用户分析</span>
                            </a>
						</li>
						
						<li class="top_select_li">
                            <a href="/zdycx/" style="color:white">
							<span class="fl top_select_word">自定义查询</span>
							</a>
						</li>
						
					</ul>
			</div>
			
			<div class="fr top_right">
		    
					<span class="fl hi">更新时间：<span id="time"></span></span>
					<span class="fl hi">Hi，{{ user_name }}</span>
					<a href="/xgmm/" class="btn_xgmm fl">修改密码</a>
					<a class="btn_tc fr">退出</a>
				</div>
						
		</div>
    <div class="pg-content">
        <div class="menu left">
        	
        	<ul class="daohang">
        		<!--class=menu_select为选中的当前的样式类-->
				<li class="menu_select" id="wlgz_li">
					<a href="/wlgz/"target="iframe_right" onclick="wlgz()">
					 <span class="menu_ico1 "></span>
					 <span class="text">网络感知</span>
					 </a>
				</li>
				<li id="scpg_li">
					<a href="/scpg/"target="iframe_right" onclick="scpg()">
					<span class="menu_ico2"></span>
					<span class="text">市场评估</span>
					</a>
				</li>
				<li id="yhty_li">
					<a href="/yhty/"target="iframe_right" onclick="yhty()">
					<span class="menu_ico3"></span>
					<span class="text">用户体验</span>
					</a>
				</li>	
				<li id="lssj_li">
					<a href="/lssj/"target="iframe_right" onclick="lssj()">
					<span class="menu_ico4"></span>
					<span class="text">历史数据</span>
					</a>
				</li>	
			</ul>
        </div>
        <div class="content right" >
            <div class="clear"></div>
			<!--内容引入-->
			<iframe src="/wlgz/" name="iframe_right" frameborder="0" id="right" >
              <div></div>
		    </iframe>
        </div>
    </div>
   </div>
</body>
</html>
<script>
    var now_time=new Date;
    var time =now_time.getFullYear().toString()+"/"+(now_time.getMonth()+1).toString()+"/"+now_time.getDate().toString();
    document.getElementById("time").innerText = time;
    function wlgz(){
    $("#wlgz_li").removeClass("menu_select");
    $("#scpg_li").removeClass("menu_select");
    $("#yhty_li").removeClass("menu_select");
    $("#lssj_li").removeClass("menu_select");
    $("#wlgz_li").addClass("menu_select");
}
function scpg(){
    $("#wlgz_li").removeClass("menu_select");
    $("#scpg_li").removeClass("menu_select");
    $("#yhty_li").removeClass("menu_select");
    $("#lssj_li").removeClass("menu_select");
    $("#scpg_li").addClass("menu_select");
}
function yhty(){
    $("#wlgz_li").removeClass("menu_select");
    $("#scpg_li").removeClass("menu_select");
    $("#yhty_li").removeClass("menu_select");
    $("#lssj_li").removeClass("menu_select");
    $("#yhty_li").addClass("menu_select");
}
function lssj(){
    $("#wlgz_li").removeClass("menu_select");
    $("#scpg_li").removeClass("menu_select");
    $("#yhty_li").removeClass("menu_select");
    $("#lssj_li").removeClass("menu_select");
    $("#lssj_li").addClass("menu_select");
}
</script>