<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <title>聚类用户分析</title>
    <link rel="stylesheet" type="text/css" href="../static/css/jlyhfx.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.datetimepicker.css"/>
</head>
<script type="text/javascript" src="../static/js/select_option.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
<body>
 <div class="tsgl">

        <div class="head-div">
			<div class="fl">
			<div class=" fl logo">
				<div class="logo_ico fl"></div>
			    <p class="head-bt fl">用户数据魔方</p>
			</div>
			<ul class="fl top_select">
				<!--class=select_dh为选中的当前的样式类-->
						<li class="top_select_li ">
                            <a href="/index/" style="color:white">
							<span class="fl top_select_word">单个用户分析</span>
                            </a>
						</li>

						<li class="top_select_li select_dh">
                            <a href="/jlyhfx/" style="color:white">
							<span class="fl top_select_word">聚类用户分析</span>
                            </a>
						</li>

						<li class="top_select_li">
                            <a href="/zdycx/" style="color:white">
							<span class="fl top_select_word">自定义查询</span>
                            </a>
						</li>

					</ul>
			</div>

			<div class="fr top_right">

					<span class="fl hi">更新时间：<span>2019/07/27</span></span>
					<span class="fl hi">Hi，{{ user_name }}</span>
					<a class="btn_xgmm fl">修改密码</a>
					<a class="btn_tc fr">退出</a>
				</div>

		</div>



		<div class="content">

		<div class="content_t">

		  <div style="width:calc(100% - 80px);height:80px;padding:20px 40px;background-color: #1e1d2b;">

		   <div style="font-size: 14px;display: inline-block;margin-right: 30px;" class="fl">
		   	<span class="fl timeslecet_title">地市：</span>
		   	    <div class="xz_select_kuang fl">
		   	    <div class=" time_select_kuang">
                    <!--2.确定事件，通过函数传参的方式拿到改变后的城市-->
               <select onchange="changeCity(this.value)" class="city_district_select" id="city_select">
                    <option>--请选择--</option>
                    <option id="长沙市" value="0" >长沙市</option>
                    <option id="株洲市" value="1">株洲市</option>
                    <option id="湘潭市" value="2">湘潭市</option>
                    <option id="衡阳市" value="3">衡阳市</option>
                    <option id="邵阳市" value="4">邵阳市</option>
                    <option id="岳阳市" value="5">岳阳市</option>
                    <option id="常德市" value="6">常德市</option>
                    <option id="张家界市" value="7">张家界市</option>
                    <option id="益阳市" value="8">益阳市</option>
                    <option id="郴州市" value="9">郴州市</option>
                    <option id="永州市" value="10">永州市</option>
                    <option id="怀化市" value="11">怀化市</option>
                    <option id="娄底市" value="12">娄底市</option>
                    <option id="湘西土家族苗族自治州" value="13">湘西自治州</option>
                </select>
		   	 		 <!--<span class="word_select fl">怀化</span>-->
                   <!--怀化-->
		   	 	</div>
		   	 	<!--下拉框-->
		   	 		<!--<div class="xz_kuang">
		   	 			<ul>
								<li>长沙</li>
								<li>株洲</li>
								<li>湘潭</li>
								<li>张家界</li>
								<li class="select">怀化</li>
								<li>常德</li>
								<li>郴州</li>
								<li>永州</li>
							</ul>
		   	 		</div>-->
		   	 	</div>
		   </div>

		   <div style="font-size: 14px;display: inline-block;margin-right: 30px;" class="fl">
		   	<span class="fl timeslecet_title">区县：</span>
		   	   <div class="xz_select_kuang fl">
		   	   <div class=" time_select_kuang">
                    <select id="district_select" class="city_district_select">
                        <option>--请选择--</option>
                    </select>
		   	 		 <!--<span class="word_select fl">全部</span>-->
		   	 	</div>
		   	 	<!--下拉框-->
		   	 		<!--<div class="xz_kuang">
		   	 			<ul>
								<li>长沙</li>
								<li>株洲</li>
								<li>湘潭</li>
								<li>张家界</li>
								<li class="select">怀化</li>
								<li>常德</li>
								<li>郴州</li>
								<li>永州</li>
							</ul>
		   	 		</div>-->
		   </div>
		   </div>

		   <div style="font-size: 14px;display: inline-block;" class="fl">
		   	<span class="fl timeslecet_title">聚类查询：</span>
		   	    <div class="xz_select_kuang fl">
		   	   <div class=" time_select_kuang" style="width:230px">
		   	 		 <select id="formwork" class="city_district_select" style="width:210px">
                         <option value="0">感知差头部用户</option>
                         <option value="1">超套餐流量感知优用户</option>
                         <option value="2">超套餐流量感知差用户</option>
                         <option value="3">校园网超套餐流量用户</option>
                         <option value="4">感知好流量小用户</option>
                         <option value="5">近三个月网络感知下降用户</option>
                         <option value="6">近三个月消费能力上升用户</option>
                         <option value="7">app流量排名聚类</option>
                         <option value="8">终端型号使用量聚类</option>
                         <option value="9">头部用户占比</option>
                     </select>
		   	 	</div>
		   	 	<!--下拉框-->
		   	 		<!--<div class="xz_kuang">
		   	 			<ul>
								<li class="select">感知差的头部用户</li>
								<li>超套餐流量感知优用户</li>
								<li>超套餐流量感知差用户</li>
								<li>校园网超套餐流量用户</li>
								<li >感知好流量小用户</li>
								<li>高价值感知差用户</li>
							</ul>
		   	 		</div>-->
		   </div>
		   </div>
		   	 	<a class="search" id="search" onclick="chaxun()" style="position: relative;left: 15px">查询</a>
		   <div class="clear"></div>



		  <!--<div style="font-size: 14px;display: inline-block;margin-right: 30px;margin-top: 16px;" class="fl">
		   	<span class="fl timeslecet_title">时间：</span>
		   	    <div class="fl time_select_kuang">
		   	 		 <input type="text" value="" id="start_datetimepicker" class="city_district_select"/>
		   	 		<a class="arrow_select fr"></a>
		   	 	</div>
		   	 	<span class="fl" style="width: 10px;height: 1px;display: inline-block;background-color: rgba(255,255,255,0.25);margin: auto 5px;margin-top: 15px;"></span>
		   	    <div class="fl time_select_kuang">
		   	 		 <input type="text" value="" id="end_datetimepicker" class="city_district_select"/>
		   	 		<a class="arrow_select fr"></a>
		   	 	</div>
		   </div>-->



          </div>
		</div>




		<div class="content_l">


	          	 <div class="content_l_b   ">
	           	   <div class="content_l_title">
	           	   	<p class="fl">查询结果</p>
		   	 	     <a class="search fr">导出</a>
		   	 	   <div class="clear"></div>
	           	   </div>

		    	 <table style="min-width: 100%;table-layout: fixed;" id="export_table">
					<thead class="gl2_table_1 " id="export_table_thead">
					 <tr>
					 </tr>
					</thead>
				<!--	默认无数据-->
					<!--<tbody>
					 <tr class="gl2_table_2 ">
					    <td class="zwsj"> 暂无数据</td>
					 </tr>
					</tbody>-->
					<tbody class="gl2_table_2 " id="export_table_tbody">
					 <tr>
					 </tr>
					</tbody>
				   </table>



		    	<div style="width: 100%;">
	          	<div class="page fr">
				<!--<a>上一页</a>
				<a class="dq">3</a>
				<a>4</a>
				<a>5</a>
				<a>6</a>
				<a>7</a>
				<a>下一页</a>-->
			   </div>
			   <!--<div class="clear"></div>-->

	       </div>


	           </div>

		</div>

	</div>

   </div>


</body>
</html>
<script type="text/javascript" src="../static/js/jlyhfx/jlyhfx_define.js"></script>
<script type="text/javascript" src="../static/js/jlyhfx/jlyhfx_search.js"></script>