<html>
<body>
    <meta charset="UTF-8"/>
 <table border="1" style="width: 2000px">
	<thead>
		<tr>
			<td style="width:100px;">日期</td>
			<td style="width:300px;">用户电话</td>
			<td style="width:200px;">用户常驻小区</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
            <td style="width:300px;">用户电话</td>
		</tr>
	</thead>
    <tbody>
		<tr>
			<td>dlajfalsjfd</td>
			<td>188888888888</td>
			<td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
            <td>12314443</td>
		</tr>
    </tbody>
</table>

</body>
</html>
<script type="text/javascript">
    alert(document.getElementById("table").style.width)
</script>
