<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <title>网络感知</title>
    <link rel="stylesheet" type="text/css" href="../static/css/wlgz.css" />
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/echarts_theme.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
</head>
<body onload="wlgz_onload()">

	<div>
		
		<div class="content_t">
		  
		   <p class="content_t_title fl" >网络感知</p>
		   <span class="help fl"></span>
		   <div class="clear"></div>

		   <div style="font-size: 14px;display: inline-block;">
		   	<span class="fl timeslecet_title" >用户：</span>
		   	<div class="search_list fl">
				<input type="text" placeholder="搜索用户号码" id="phone_number" class="search_w2">
			</div>
		   	 
		   	 <div style="display: inline-block;"class="fl">
		   	 	<a class="search" onclick="chaxun()" id="search">查询</a><p id="error" style="color:red;font-weight:bold"></p>
		   	 </div>
		   	 
		   </div>
           
		</div>

		<div class="content_l">
			
			     <div class=" content_k">
			     	<div class="content_l_title">
	           	     	<p class="fl">基础信息</p>
	           	     </div>
	           	     
	           	     
	           	    <!-- 默认以下模块隐藏，输入号码显示-->
	           	     <div class="content_k_con">
	           	     	<div class="content_k_con_fl fl">
	           	     		<ul style="display: inline-block;">
	           	     			<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb ">用户电话：</span>
	           	     				<span class="fl jcxx_list_word" id="phonemuber"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">地市：</span>
	           	     				<span class="fl jcxx_list_word" id="city"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">区县：</span>
	           	     				<span class="fl jcxx_list_word" id="district"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb">乡镇：</span>
	           	     				<span class="fl jcxx_list_word" id="county"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">农村城市属性：</span>
	           	     				<span class="fl jcxx_list_word" id="citizen_or_villager"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">客户星级：</span>
	           	     				<span class="fl jcxx_list_word" id="star"></span>
	           	     			</li>
	           	     				<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb ">入网时间：</span>
	           	     				<span class="fl jcxx_list_word" id="begin"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">在网时长：</span>
	           	     				<span class="fl jcxx_list_word" id="length_of_time"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">号码归属地：</span>
	           	     				<span class="fl jcxx_list_word" id="belong"></span>
	           	     			</li>
	           	     				</li>
	           	     				<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb ">用户终端品牌：</span>
	           	     				<span class="fl jcxx_list_word" id="phone_brand"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">是否头部客户：</span>
	           	     				<span class="fl jcxx_list_word" id="is_header_user"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">是否高危用户：</span>
	           	     				<span class="fl jcxx_list_word" id="is_risk_user"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zc ">
	           	     				<span class="fl jcxx_list_zb ">用户终端型号：</span>
	           	     				<span class="fl jcxx_list_word" id="phone_type"></span>
	           	     			</li>
	           	     		</ul>
	           	     	</div>
	           	     	<!--<div class="content_k_con_fr fr">
	           	     		<img class="map" src="../static/img/map.png">
	           	     	</div>-->
	           	     </div>
			     </div>
	           
	           <div class="content_l_t ">
	           	  
	           	  <div class="content_l_t_mok fl">
	           	  	 <div class="content_l_title">
	           	     	<p class="fl">用户覆盖率</p>
	           	     </div>
	           	     
	           	     <div class="content_img">
		   	 	    	<div class="content_img_ico" id="coverage">
		   	 	    		<!--默认数据为空-->
		   	 	    	<!--	<span class="null_date">暂无数据</span>-->
		   	 	    		<!--echarts替换img标签-->
		   	 	    	</div>
		   	 	    </div>
	           	  </div>
	           	  
	           	   
	           	  <div class="content_l_t_mok fr">
	           	  	  <div class="content_l_title">
	           	     	<p class="fl">用户平均RSRP</p>
	           	     </div>
	           	     
	           	     <div class="content_img">
		   	 	    	<div class="content_img_ico" id="rsrp">
		   	 	    		<!--默认数据为空-->
		   	 	    		<!--<span class="null_date">暂无数据</span>-->
		   	 	    		<!--echarts替换img标签-->
		   	 	    	</div>
		   	 	    </div>
	           	  </div>
	  	
	           </div>
	           
	           <div class="content_l_t ">
	           	  
	           	  <div class="content_l_t_mok fl">
	           	  	 <div class="content_l_title">
	           	     	<p class="fl">下行速率</p>
	           	     </div>
	           	     
	           	     <div class="content_img">
		   	 	    	<div class="content_img_ico" id="dl_speed">
		   	 	    		<!--默认数据为空-->
		   	 	    		<!--<span class="null_date">暂无数据</span>-->
		   	 	    		<!--echarts替换img标签-->
		   	 	    	</div>
		   	 	    </div>
	           	  </div>
	           	  
	           	   
	           	  <div class="content_l_t_mok fr">
	           	  	  <div class="content_l_title">
	           	     	<p class="fl">接通率</p>
	           	     </div>
	           	     
	           	     <div class="content_img">
		   	 	    	<div class="content_img_ico" id="call_success">
		   	 	    		<!--默认数据为空-->
		   	 	    		<!--echarts替换img标签-->
		   	 	    	<!--	<img class="content_img_ico_bg" src="img/jtl.png">-->
		   	 	    	</div>
		   	 	    </div>
	           	  </div>
	  	
	           </div>
	           

	          
	          	 <div class="content_l_b   ">
	           	   <div class="content_l_title">
	           	   	<p class="fl">详细信息</p>
		   	 	     <a class="search fr" onclick="export_excel()" id="export_excel_href">导出</a>
		   	 	   <div class="clear"></div>
	           	   </div>
	          	
	          	<div style="width:calc(100% - 40px);margin:0 20px;">
		    	 <div style="width:100%;height: 100%;overflow-y:hidden;overflow-x:auto;">
		    	 	
		    	 <table style="width:2580px;" id="export_table">
					<thead>
					 <tr class="gl2_table_1 ">	
					  <td class="date">日期</td>
					  <td class="yhdh">用户电话</td>
					  <td class="yhczxq">用户常驻小区</td>
					  <td class="fgl">覆盖率</td>
					  <td class="twl">平均rsrp</td>
					  <td class="cphrl">差PHR率</td>
					  <td class="xhcgl">寻呼成功率</td>
					  <td class="dxl">掉话率</td>
					  <td class="qywsxsl">全业务上行速率(kbps)</td>
					  <td class="qywxxsl">全业务下行速率(kbps)</td>
					  <!--<td class="dbsxsl">大包上行速率(kbps)</td>
					  <td class="dbxxsl">大包下行速率(kbps)</td>-->
					  <td class="http">HTTP响应成功率</td>
					  <td class="tcpcgl">TCP核心网成功率(%)</td>
					  <td class="tcpsy">TCP核心网时延(ms)</td>
					  <td class="tcpwxcgl">TCP无线成功率(%)</td>
					  <td class="tcpwxsy">TCP无线时延(ms)</td>
					  <td class="ymxysy">页面响应时延</td>
					  <td class="qhcgl">切换成功率(%)</td>
					  <td class="fwqqcgl">服务请求成功率</td>
					  <td class="fzcgl">附着成功率</td>
					  <td class="tau">TAU成功率</td>
					 </tr>	
					</thead>
				<!--	默认无数据-->
					<!--<tbody>
					 <tr class="gl2_table_2 ">	
					    <td class="zwsj"> 暂无数据</td>
					 </tr>
					</tbody>-->
					<tbody>
					 <tr class="gl2_table_2 ">	
					  <td class="date" id="date"></td>
					  <td class="yhdh" id="yhdh"></td>
					  <td class="yhczxq" id="yhczxq"></td>
					  <td class="fgl" id="fgl"></td>
					  <td class="twl" id="pjrsrp"></td>
					  <td class="cphrl" id="cphrl"></td>
					  <td class="xhcgl" id="xhcgl"></td>
					  <td class="dxl" id="dxl"></td>
					  <td class="qywsxsl" id="qywsxsl"></td>
					  <td class="qywxxsl" id="qywxxsl"></td>
					  <!--<td class="dbsxsl" id="dbsxsl"></td>
					  <td class="dbxxsl" id="dbxxsl"></td>大包速率暂时不用-->
					  <td class="http" id="http"></td>
					  <td class="tcpcgl" id="tcpcgl"></td>
					  <td class="tcpsy" id="tcpsy"></td>
					  <td class="tcpwxcgl" id="tcpwxcgl"></td>
					  <td class="tcpwxsy" id="tcpwxsy"></td>
					  <td class="ymxysy" id="ymxysy"></td>
					  <td class="qhcgl" id="qhcgl"></td>
					  <td class="fwqqcgl" id="fwqqcgl"></td>
					  <td class="fzcgl" id="fzcgl"></td>
					  <td class="tau" id="tau"></td>
					 </tr>
					</tbody>
				   </table>
                 </div>
                </div>
	           </div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript" src="../static/js/wlgz/wlgz_define.js"></script>
<script type="text/javascript" src="../static/js/wlgz/wlgz_option.js"></script>
<script type="text/javascript" src="../static/js/wlgz/wlgz_setoption.js"></script>
<script type="text/javascript" src="../static/js/wlgz/wlgz_export_excel.js"></script>