<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <title>用户体验</title>
    <link rel="stylesheet" type="text/css" href="../static/css/yhty.css" />
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/echarts_theme.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
</head>
<body onload="yhty_onload()">
	<div class="content">

		<div class="content_t">

		   <p class="content_t_title fl" >用户体验</p>
		   <span class="help fl"></span>
		   <div class="clear"></div>

		   <div style="font-size: 14px;display: inline-block;">
		   	<span class="fl timeslecet_title" >用户：</span>
		   	<div class="search_list fl">
				<input type="text" placeholder="搜索用户号码" id="phone_number" class="search_w2">
			</div>

		   	 <div style="display: inline-block;"class="fl">
		   	 	<a class="search" onclick="chaxun()" id="search">查询</a><p id="error" style="color:red;font-weight:bold"></p>
		   	 </div>
		   </div>

		</div>




		<div class="content_l">

			     <div class=" content_k">
			     	<div class="content_l_title">
	           	     	<p class="fl">基础信息</p>
	           	     </div>


	           	    <!-- 默认以下模块隐藏，输入号码显示-->
	           	     <div class="content_k_con">
	           	     	<div class="content_k_con_fl fl">
	           	     		<ul style="display: inline-block;">
	           	     			<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb ">用户电话：</span>
	           	     				<span class="fl jcxx_list_word" id="phonenumber"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">地市：</span>
	           	     				<span class="fl jcxx_list_word" id="city"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">区县：</span>
	           	     				<span class="fl jcxx_list_word" id="district"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb">乡镇：</span>
	           	     				<span class="fl jcxx_list_word" id="county"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">农村城市属性：</span>
	           	     				<span class="fl jcxx_list_word" id="citizen_or_villager"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">客户星级：</span>
	           	     				<span class="fl jcxx_list_word" id="star"></span>
	           	     			</li>
	           	     				<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb ">入网时间：</span>
	           	     				<span class="fl jcxx_list_word" id="begin"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">在网时长：</span>
	           	     				<span class="fl jcxx_list_word" id="length_of_time"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">号码归属地：</span>
	           	     				<span class="fl jcxx_list_word" id="belong"></span>
	           	     			</li>
	           	     				</li>
	           	     				<li class="jcxx_list fl zc">
	           	     				<span class="fl jcxx_list_zb ">用户终端品牌：</span>
	           	     				<span class="fl jcxx_list_word" id="phone_brand"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zj">
	           	     				<span class="fl jcxx_list_zb ">是否头部客户：</span>
	           	     				<span class="fl jcxx_list_word" id="is_header_user"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zd">
	           	     				<span class="fl jcxx_list_zb ">是否高危用户：</span>
	           	     				<span class="fl jcxx_list_word" id="is_risk_user"></span>
	           	     			</li>
	           	     			<li class="jcxx_list fl zc ">
	           	     				<span class="fl jcxx_list_zb ">用户终端型号：</span>
	           	     				<span class="fl jcxx_list_word" id="phone_type"></span>
	           	     			</li>
	           	     		</ul>
	           	     	</div>
	           	     	<div class="content_k_con_fr fr">
	           	     	</div>
	           	     </div>
			     </div>

	           <div class="content_l_t ">

	           	  <div class="content_l_t_mok ">
	           	  	 <div class="content_l_title">
	           	     	<p class="fl">得分概览</p>
	           	     </div>

	           	     <div class="content_img">
		   	 	    	<div class="content_img_ico">
		   	 	    		<!--默认数据为空-->
		   	 	    		<!--<span class="null_date">暂无数据</span>-->
		   	 	    	<div class="fl content_img_ico_fl">
		   	 	    		<span class="pjdf_f" id="pjdf_f"></span>
		   	 	    		<span class="pjdf">平均得分</span>
		   	 	    	</div>
		   	 	    	<div class="fr content_img_ico_fr" id="portrait">
		   	 	    	</div>

		   	 	    	</div>
		   	 	    </div>
	           	  </div>
	           </div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript" src="../static/js/yhty/yhty_define.js"></script>
<script type="text/javascript" src="../static/js/yhty/yhty_option.js"></script>
<script type="text/javascript" src="../static/js/yhty/yhty_setoption.js"></script>